.words-table {
	width: 500px;
	font-size: 18px;
	line-height: 40px;
}

#show-dialog {
	position: absolute;
	right: 11px; 
	bottom: 11px;
}

#lang-flag {
	position: absolute;
	right: 0px; 
	top: 11px;
}
